{% extends 'inventory_manage/base.html' %}
{% block header %}
    <br/>
<div class="container">
    <div class="card">
        <div class="card-body ">
            <div class="row">
                <h2>{{ type }}</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-lg btn-primary" href="{% url 'inventory_manage:new_element' type.id %}" role="button">添加新零件</a>
            </div>
        </div>
    </div>
</div>

{% endblock header %}
{% block content %}
<br/>

    <div class="container">
    <div class="row tool-list">
        {% for element in elements %}
        <div class="col-md-6 col-lg-4 col-xl-3 px-lg-2 mb-3 ">
            <div class="card ">
                <div class="card-header">

                    <div style="width:150px;height:20px;float:left;">
                            <h4>{{ element.name|linebreaks }}</h4>
                        </div>
                    <div style="width:50px;height:20px;float:right;">
                    <a class="btn btn-info" role="button" href="{% url 'inventory_manage:edit_element' element.id %}" >编辑</a>
                    </div><br/><br/>

                </div>
                <div class="card-body m-auto">
                    <h3>
                        <div style="width:100px;height:20px;float:left;">
                            数量：</div>
                        <div style="width:100px;height:20px;float:left;">
                            {{ element.number|linebreaks }}</div>
                        <br/>
                        <div style="width:100px;height:20px;float:left;">
                            材质：</div>
                        <div style="width:100px;height:20px;float:left;">
                            {{ element.material|linebreaks }}</div>
                        <br/>
                        <div style="width:100px;height:20px;float:left;">
                            编号：</div>
                        <div style="width:100px;height:20px;float:left;">
                            {{ element.bianhao|linebreaks }}</div>
                        <br/>
                    </h3>
                </div>
                <div class="card-footer">
                    日期：{{ element.date_add|date:'Y-m-d H:i:s' }}
                </div>
            </div>
        </div>
        {% empty %}
            <div class="alert alert-danger">
                <strong>请添加库存零件！</strong>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}