{% extends "inventory_manage/base.html" %}
{% load bootstrap4 %}
{% block header %}


{% endblock header %}

{% block content %}

<br/>
    <div class="container">

  <div class="card">
    <div class="card-header">
        <div style="width:200px;height:20px;float:left;">
               <h2>添加新零件</h2> </div>
        <div style="width:200px;height:20px;float:right;">
                <h3><a href="{% url 'inventory_manage:element' type.id %}">{{ type }}</a></h3>
        </div><br/><br/>
    </div>

    <div class="card-body"><form action="{% url 'inventory_manage:new_element' type.id %}" method='post' class="form">
{% csrf_token %}
 {% bootstrap_form form %}

{% buttons %}
<button name='submit' class="btn-primary">添加</button>
{% endbuttons %}
</form></div>

  </div>
</div>



{% endblock content %}