{% extends "inventory_manage/base.html" %}
{% load bootstrap4 %}
{% block header %}
<br/>

<div class="container">
    <div class="card">
        <div class="card-body">

                <div style="width:200px;height:20px;float:left;">
                <h1>库存类别</h1></div>
                <div style="width:200px;height:20px;float:right;">
                <a class="btn btn-lg btn-primary" href="{% url 'inventory_manage:new_type' %}" role="button">添加库存类别</a>
                </div>
            <br/><br/>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<br/>
<main>
<div class="container">
    <div class="row tool-list">
        {% for type in types %}
        <div class="col-md-6 col-lg-4 col-xl-3 px-lg-2 mb-3 ">
            <div class="card ">
                <div class="card-body m-auto">
                    <h3><a href="{% url 'inventory_manage:element' type.id %}">{{ type }}</a></h3>
                </div>
            </div>
        </div>
        {% empty %}
            <div class="alert alert-danger">
                <strong>请添加库存类别！</strong>
            </div>
        {% endfor %}
    </div>
</div>

<div class="text-center" id="to-top">
    <i class="fa fa-chevron-up" id="btn-top" title="回到顶部"></i>
</div>
</main>
{% endblock content %}